* { 
    /*font-size: 20px;*/ 
    text-transform: uppercase;
}

.separador-topo { margin-top:30px; }

h1 {
    font-weight: normal;
    font-style: italic;
}

.img-responsive {
    width: 95%;
    max-width: 400px;
}

.homebg {
    background: #fff url("../img/cabecalho.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300px;
}